.main-title{
    color: #555ce5;
}

.title-color{
    color: #e02a73;
}

html{
    background-color: #fad5e8;
}

.global-nav-color{
    color: #4f90f1;
}

.border-list{
    list-style-type: none;
    border-style: dotted;
    border-width: 4px;
    padding: 10px;
    background-color: #f4adad;
}

.page-title{
  font-weight: bold;
  background-color: #c6e6e3;
  border: 3px solid #650f8d;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  color: #650f8d; 
}

.site-name{
    font-weight: bold;
    background-color: #c6e6e3;
    border: 4px solid #650f8d;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    color: #650f8d; 
}

.local-nav{
    background-color: #c1f1c1;
    padding: 10px;
    list-style-type: none;
}

.main-nav{
    background-color: #f7ecc8;
    padding: 10px;
    list-style-type: none;
}